TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=jkeE4pzqpr_Ib_xe8cmq5_Bohhhvr4Jk
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_DATABASE=usepaynew
# DB_HOST=lt80glfe2gj8p5n2.chr7pe7iynqr.eu-west-1.rds.amazonaws.com
# DB_PORT=3306
# DB_USER=j6niiqh7ely13b60
# DB_PASSWORD=jp6hni1aysr2zkbp
# DB_DATABASE=lm6w6d4ljwmcffl4
REDIS_HOST=redis-17930.c85.us-east-1-2.ec2.redns.redis-cloud.com
REDIS_PORT=17930
REDIS_PASSWORD=8aWHYBP1Qqnxa5xGIbmuCXbKfqUo3lMI
SESSION_DRIVER=cookie
SERVICE_CODE='*384*51261#'
